@page "/eliminarcerveza/{Id:int}"

@using Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Eliminar Cerveza</h3>

<p>¿Deseas eliminar el @Id?</p>

<div>
    <button @onclick="Cancelar">Cancelar</button>
    <button @onclick="Eliminar">Eliminar</button>
</div>

@code { 
    [Parameter]
    public int Id { get; set; }
    public string Url = "https://localhost:44324/api/Cerveza";
    Respuesta<object> oRespuesta = new Respuesta<object>();

    private void Cancelar() => NavigationManager.NavigateTo("/cervezas");

    private async Task Eliminar()
    {
        var response = await Http.DeleteAsync(Url+"/"+Id);
        oRespuesta = response.Content.ReadFromJsonAsync<Respuesta<object>>().Result;
        NavigationManager.NavigateTo("/cervezas");
    }

}
